.statistics {
  width: 450px;
  border: 1px solid inherit;

  outline: none;
  margin: 20px auto;

  background-color: whitesmoke;
  color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.statistics:hover {
  box-shadow: 0 0 20px rgba(206, 9, 9, 0.5);
  cursor: pointer;
  transform: scale(1.2);
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.stat {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.item {
  width: calc(100% / 4);
  align-items: center;
  text-align: center;
  padding: 10px 0;
  color: white;
  background-color: coral;
  font-size: 20px;
}

.label {
  margin-right: 3px;
  display: block;
  margin-bottom: 5px;
}
